/*buttons have many different stylings you can play around with. Don't forget a hover effect!*/

.button, .alt-button, .dropdown-button {
  background-color: #343030;
  border: .1rem solid #fff;
  color: #ffffff;
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  //box-shadow: 3px 3px 4px HSLA(0, 0%, 0%, .35);
  width: 12rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
    background-color: #FFFFFF;
    border: .1rem solid #343030;
    color: #343030;
}

.alt-button {
  background-color: #FF0019;
  padding: 12px 15px;
  width: auto;
}

.alt-button:hover {
    background-color: #D8D8D8;
    border: .1rem solid #343030;
    color: #343030;
}

/*form elements can easily be stylized by adding a class element to the containing div.*/

.formelements {
    
    /*This will keep your form from getting other elements mixed in.*/
    form {
        display: block;
        width: 100%;
        height: 7em;
    }
    
    /*this affects the label above the input */
    label {
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #4A4A4A;
    }
    
    
    /*Here I will show you how to stylize the box surrounding your form element.*/
    .partial_box {
        border-top: .001rem solid #ffffff;
        border-left: .001rem solid #FFBD5C;
        border-right: .001rem solid #ffffff;
        border-bottom: .001rem solid #FFBD5C;
    }
    
    .single_line {
        border: .001rem solid #ffffff;
        border-bottom: .001rem solid #4A4A4A;
    }
    
    /*this will change the color of your placeholder text. The default is too dark so try to make it obvious the form hasn't already been filled out with a lighter color.*/
    input::placeholder {
        color: #D8D8D8;
    }
    
    /*make sure you target the input to get the text to change*/
    input, .simpleinput {
        padding: .75em;
        margin: .25em 0;
        border: .001rem solid #9B9B9B;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        color: #4A4A4A;
    }

    /* I've put our form elements into the grid we used on Grid Systems. Since the grid has already been created, I just need to remove the background color here. Your CSS library won't need a background color on your grid so don't worry about this step.*/
    .col-1-2-left, .col-1-2-right {
        background-color: #ffffff;
        width: 14em;
    }
    
    .bg {
            width: 20em;
        }

    /*adding a button "inside" your textbox is actually just setting it right next to it*/
    
    .submitbutton, .searchbutton {
        padding: 9px 15px;
        margin-left: -5px;
        border: .001rem solid #9B9B9B;
        background-color: #FFBD5C;
    }
    
    .searchbutton {
        background-color: #9B9B9B;
    }
    
    /*make sure to use a type kit like fontawesome that allows you to change the color of the icon with css. This will make design changes later much easier*/
    .error-message {
        color: #FF0019;
        margin: .25em 0;
    }
    
}


/*styling for a dropdown*/
.dropdown-button {
    background-color: #FFFFFF;
    padding: 12px 15px;
    color: #4A4A4A;
    border: .001rem solid #343030;
}

.dropdown-open {
    //display: none;
    background-color: #ffffff;
    border: .001rem solid #343030;
    margin: -.25em 0 0 0;
    line-height: 2em;
    color: #343030;
    width: 16em;

    ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
   }

    li {
    margin: .5em;
    position: relative;
   }

    a{
    color: #343030;
    text-decoration: none;
   }

    a:hover{
    text-decoration: none;
    background-color: #D8D8D8;
   }
}

/*styling for Radio Buttons*/

.radio {
    background-color: #FFBD5C;
}