.main-nav {
    background-color: #fff;
    line-height: 2em;
    color: #4A4A4A;
    text-align: left;
    margin: 1em 0;
    padding: 1em 0;
    height: 100%;
    width: 25%;
    float: left;

    ul {
        list-style-type: none;
        position: relative;
        margin: 0;
    }

    li {
        margin: 0;
        padding: 0 0 .5em 0;
        font-size: 1.25em;
        position: relative;
    }

    a {
        text-decoration: none;
        color: #4A4A4A;
    }

    a:hover {
       color: #FFBD5C;
       text-decoration: none;
       transition: .25s;
   }
    
    .current a {
       color: #FFBD5C;
    }
}

/* this is the css for a basic horizontal navigation */

.nav-horizontal {

    background-color: #FFBD5C;
    line-height: 2em;
    color: #4A4A4A;
    text-align: left;
    margin: 0;
    padding: 0;

    ul {
        list-style-type: none;
        margin: 0;
    }

    li {
        margin: 0;
        padding: 0 2em;
        font-size: 1.25em;
        position: center;
        float: left;
    }

    a {
        text-decoration: none;
        color: #4A4A4A;
    }

    a:hover {
       color: #FFFFFF;
       text-decoration: none;
       font-family: 'Open Sans Bold', sans-serif;
       transition: .25s;
   }
    
    li:hover {
        background-color: #FFBD5C;
    }
    
    .current a {
       color: #FFBD5C;
    }
    
}

/*this is the css for a hidden navigation in a hamburger menu*/

/*main-nav*/
.nav-icon {
        cursor: pointer;
    }

.nav-icon:hover {
        color: #FF0019;
        transition: .25s;
    }


.nav-hamburger-closed {
  height: 10em;
  width: 100%;
  color: #4A4A4A;
  background-color: #ffffff;
    
    ul {
      list-style-type: none;
      width: 70%;
      margin: 0;
    }
    
    ul li {
      float: left;
      padding: 1.95rem;
      cursor: pointer;
    }
}

/*open */
.nav-hamburger {
    display: none;
    background-color: #FFBD5C;
    line-height: 2em;
    color: #343030;

    ul {
    list-style-type: none;
    position: relative;
    text-align: center;
   }

    li {
    margin: .5em;
    position: relative;
   }

    a{
    color: #343030;
    text-decoration: none;
   }

    a:hover{
    color: #FFBD5C;
    text-decoration: none;
    text-transform: uppercase;
   }

    .close-icon {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 2em;
    color: #343030;
    line-height: 1;
    cursor: pointer;
    margin: auto;
   }

}



/* nav-open
    when the navigation sidebar is open
   */
.nav-open {
    overflow: hidden;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 2em;
}

.nav-open .nav-hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    background-color: #D8D8D8;
}

.nav-open .page-content {
    transform: translateX(50%);
}

.nav-open .main-content {
    margin: 0;
    padding: 0;
}






