.main-header {
    width: 100%;
    height: 30em;
    position: relative;
    background-color: HSLA(274, 100%, 100%, .70);

    img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }

    p {
      text-align: left;
      position: absolute;
      top: 80%;
      left: 48%;
      transform: translate(-50%, -50%);
      margin: 0;
      overflow: hidden;
      color: #0b0b0b;
      width: 25rem;
      //text-shadow: .1em .1em .5em HSLA(276, 19%, 5%, 1.00);

      @include tablet {
        font-size: .9em;
        line-height: 1.3em;
        width: 30rem;
        left: 47%;
      };

      @include laptop {
        font-size: .9em;
        width: 45rem;
        left: 38%;
      };
    }

    h1 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-size: 4em;
      line-height: 130%;
      overflow: hidden;
      color: #0b0b0b;
    }
}
