body {
  font-family: "Baskerville", "Georgia", "Times New Roman", serif;
  line-height: 1.35em;
  margin: 0;
  font-size: 12px;
  color: #393f40;
    
 a {
    color: #00bcc0;
    text-decoration: none;
  }

 a:hover {
       color: #dfa700;
       text-decoration: none;
   }
    
  .clearfix {
    padding: 1rem;
  }

  @include tablet {
    font-size: 1em;
    line-height: 1.5em;
  };

  .main-nav-closed a {
    text-decoration: none;
    color: #d7a723;
  }

  main {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
      
      /*grid system*/
      .col-1-2-left {
        float: left;
	    width: 45%;
        padding: 0 1rem 0 0;
    }

    .col-1-2-right {
        float: left;
        width: 50%;
    }
      
      .img-fifty {
        max-width: 100%;
        padding: 1rem;
      }

      .quote {
        padding: 2rem 15%;
        font-family: 'Roboto', 'PT Sans', 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 2em;
      }
      
      iframe {
          display: block;
          width: 768px;
          height: 432px;
          margin: auto;
      }

    @include tablet {
      padding: .5rem 0;
    };

    @include laptop {
      padding: .5rem 0;
    };
  }
    
    button {
        border: none;
        font-size: 1em;
        padding: .5rem .5rem 0 1rem;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    
    .backbutton:hover {
       color: #f78ae0;
       text-decoration: none;
    }

  h1, h2 {
    font-family: 'Roboto', 'PT Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: -.92px;
    color: #393f40;
    padding: 0;
    margin: 2rem 0 0 0;
  }

  h3 {
    font-family: 'Roboto', 'PT Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: normal;
    letter-spacing: -.62px;
    color: #dfa700;
    padding: 0;
    margin: .5rem 0 0 0;
  }
}

/*Section styling */
.section-bg-color {
    background-color: #f7f7f7;
}

section {
  padding: 4rem;
  margin: 0 auto 0 auto;
  background-color: #fff;
  box-shadow: 0 6px 5px 0 rgba(93, 89, 89, .2), 0 15px 20px 0 rgba(93, 89, 89, .19);   

  .main-img, .main-gif {
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 0;
  }

  a {
    font-family: "Baskerville", "Georgia", "Times New Roman", serif;
    color: #d6a722;
    text-transform: capitalize;
  }

  @include tablet {
    width: 480px;
    margin: 3rem auto;

    .main-gif {
      position: relative;
      right: -4.5rem;
      width: 70%;
    }

    .none {
      border: none;
      display: block;
    }
  };

  @include laptop {
    width: 780px;

    .float-left {
      float: left;
    }

    .section-copy {
      width: 30rem;
    }

    @include desktop {
      width: 1030px;

    .section-copy {
      width: 35rem;
    }
    };
  };

}

.main-section {
  border-bottom: .01rem solid #dedddb;

    @include tablet {
      border: .01rem solid #dedddb;
      padding: 1.5em;
    };
    
    @include desktop {
        padding: 3em;
    }

}

.role-text {
  width: 5rem;
  float: left;

  @include largephone{
    width: 6rem;
  };

  @include phablet {
    width: 7rem;
  };

  @include tablet {
    width: 10rem;
  }
}

.clearfix {
  clear: both;
}


.lgicon-img {
  width: 30%;
  padding: .1rem;
  float: left;
  cursor: pointer;
}

.git-script {
  height: 20rem;
  overflow: scroll;
}




/*footer*/

footer {
  background-color: #393f40;
  width: 100%;
  height: 30rem;
  text-align: left;
  padding: 3rem 5rem;
    
    h1 {
    color: #F7F7F7;
    padding: 10 0 0 0;
    margin: 0;
    font-size: 2em;
    text-transform: none;
  }
    
    h2 {
    color: #F7F7F7; 
    }
    
    i {
      color: #F7F7F7;
      padding: .15em;
      text-decoration: none;
    }
    
    i:hover {
      color: #dfa700;
      text-decoration: none;
}
    
}


.social {
 padding: 1rem 2rem 0 0;
    
    a {
       text-decoration: none; 
    }
}

.fa-stack-custom {
    display: inline-block;
    height: 2em;
    line-height: 2.5em;
    position: relative;
    vertical-align: middle;
    width: 2em;
    margin: 0;
    text-align: center;
}

.fa-stack-1x-c {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
}

.icon-background {
    color: #F7F7F7;
    }

.dark {
    color: #393f40;    
    }
