body {
  font-family: Georgia, "PT Serif", serif;
  line-height: 1.35em;
  margin: 0;
  font-size: .9em;
  color: #353333;

  .clearfix {
    padding: 1rem;
  }

  @include tablet {
    font-size: 1.2em;
    line-height: 1.5em;
  };

  .main-nav-closed a {
    text-decoration: none;
    color: #d7a723;
  }

  main {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
      
      /*grid system*/
      .col-1-2-left {
        float: left;
	    width: 45%;
        padding: 0 1rem 0 0;
    }

    .col-1-2-right {
        float: left;
        width: 50%;
    }
      
      .img-fifty {
        max-width: 100%;
        padding: 1rem;
      }

      .quote {
        padding: 2rem 15%;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 400;
        font-size: 2em;
      }
      
      iframe {
          display: block;
          width: 768px;
          height: 432px;
          margin: auto;
      }

    @include tablet {
      padding: .5rem 0;
    };

    @include laptop {
      padding: .5rem 0;
    };
  }
    
    button {
        border: none;
        font-size: 1em;
        padding: .5rem .5rem 0 1rem;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    
    .backbutton:hover {
       color: HSLA(41, 68%, 54%, 1.00);
       text-decoration: none;
    }

  h1, h2, h3, .name {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
    line-height: normal;
  }

  h2 {
    font-weight: 400;
  }
}

/*Section styling */
.section-bg-color {
    background-color: #f7f7f7;
}

section {
  padding: 2rem;
  margin: 0 auto 0 auto;
  background-color: #fff;

  .main-img, .main-gif {
    width: 100%;
  }

  a {
    font-family: Georgia, "PT Serif", serif;
    color: #d6a722;
    text-transform: capitalize;
  }

  @include tablet {
    width: 480px;
    margin: 3rem auto;

    .main-img {
      position: relative;
      right: -4.5rem;
      width: 70%;
    }

    .main-gif {
      position: relative;
      right: -4.5rem;
      width: 70%;
    }

    .circle {
      position: relative;
      right: 1%;
      width: 37rem;
      height: 37rem;
      background-color: #fff;
      //border: .1rem solid #d6a722;
      border-radius: 50%;
      margin: 0;
      padding: 0;
    }

    .none {
      border: none;
      display: block;
    }
  };

  @include laptop {
    width: 1030px;

    .main-gif {
      width: 40%;
    }

    .float-left {
      float: left;
    }

    .circle {
      position: absolute;
      right: 3%;
      width: 35rem;
      height: 35rem;
    }

    .section-copy {
      width: 30rem;
    }

    @include desktop {
      width: 1030px;

    .circle {
      width: 35rem;
      height: 35rem;
    }

    .section-copy {
      width: 35rem;
    }
    };
  };

  h1 {
    padding: .01rem 0.2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #353333;
    //border-top: .2rem solid black;
    //border-bottom: .2rem solid black;
  }

  h3 {
    color: #00606e;
    font-size: .6em;
    margin: 0 -1em -1em 0;
    padding: 0;
  }
}

.main-section {
  border-bottom: .01rem solid #0b0b0b;

    @include tablet {
      border: .01rem solid #0b0b0b;
    };

}

.role-text {
  width: 5rem;
  float: left;

  @include largephone{
    width: 6rem;
  };

  @include phablet {
    width: 7rem;
  };

  @include tablet {
    width: 10rem;
  }
}

.clearfix {
  clear: both;
}

.more-button {
  background-color: #d6a722; 
  border: .1rem solid #fff;
  color: #fff;
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  //box-shadow: 3px 3px 4px HSLA(0, 0%, 0%, .35);
  width: 12rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.more-button:hover {
    background-color: #e7f2f7;
}

.lgicon-img {
  width: 30%;
  padding: .1rem;
  float: left;
  cursor: pointer;
}

.git-script {
  height: 20rem;
  overflow: scroll;
}

/*carousel styling https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow*/
.carousel {
  position: relative;
  margin: auto;
}

.img-lg, .img-lg-2 {
  width: 85%;
  display: block;
  margin: auto;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  text-decoration: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

   /*footer*/

footer {
  height: 10rem;

  @include tablet {
    height: 12rem;
  };

  width: 100%;
  color: #d9d5df;
  background-color: HSLA(274, 100%, 100%, .70);
  text-align: center;
  font-size: .75em;
}

footer i {
  color: #d9d5df;
  padding: .15em;
}

footer i:hover {
  color: #d6a722;
  text-decoration: none;
}

.social {
 float: right;
 padding: 2rem 2rem 0 1rem;

}
