.name {
  background-color: #fff;
  position: fixed;
  left: 5rem;
  top: 1rem;
  padding: 0;
  margin: 0;
}

.main-nav {
  background-color: #fff;
  position: fixed;
  right: 5rem;
  top: -2.5rem;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'PT Sans', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -.62px;

    ul {
        list-style-type: none;
        position: relative;
        margin: 3rem -1.7rem;
    }

    li {
        margin: .5em 1em;
        position: relative;
        float: right;
    }

    a {
        text-decoration: none;
        color: #0b0b0b;
    }
    
    a:hover {
       color: #f78ae0;
       text-decoration: none;
   }

}



