.nav-icon, .nav-icon2 {
  position: fixed;
  top: .4rem;
  right: .5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 900;
//ioedjijdmkd
}

.name {
  position: fixed;
  left: 1rem;
  top: 1rem;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 0;
  margin: 0;
}

/*Main Navigation plus closed*/

.main-nav-closed {
  position: fixed;
  top: 0;
  min-height: 2.75rem;
  padding-bottom: 1rem;
  width: 100%;
  color: #fff;
  background-color: HSLA(0, 0%, 0%, 1.0);
  z-index: 90;
}

.main-nav {
    display: none;
    background-color: HSLA(0, 0%, 0%, .50);
    line-height: 2em;
    color: #fff;
    text-align: center;

    ul {
        list-style-type: none;
        position: relative;
        margin-top: 1rem;
    }

    li {
        margin: .5em;
        font-size: 1.25em;
        position: relative;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    a:hover {
       color: HSLA(41, 68%, 54%, 1.00);
       text-decoration: none;
   }

   .close-icon {
       font-style: normal;
       position: absolute;
       right: 0;
       padding: 1rem;
       color: #fff;
       line-height: 1;
       cursor: pointer;
       z-index: 1000;
   }
}



/* nav-open when the navigation sidebar is open */

.nav-open {
   overflow: hidden;

   .main-nav {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      min-height: 100%;
      z-index: 100;
      background-color: HSLA(0, 0%, 0%, .80);
   }

   .page-content {
      transform: translateX(50%);
   }

   .main-content {
      margin: 0;
      padding: 0;
   }
}

.ul-info {
  display: none;
}
