@media screen and (min-width: 1280px){

  section {
    width: 1030px;
    height: 700px;
  }

  .circle {
    width: 35rem;
    height: 35rem;
  }

  .section-copy {
    width: 35rem;
    float: left;
  }
}
