$line-height: 1.55rem;

$query-01-content-width: 300px;
$query-02-content-width: 700px;
$query-03-content-width: 1080px;
$query-04-content-width: 1280px;


// clrs.cc
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;
