

$line-height: 1.55rem;

$largephone-width: "screen and (min-width: 375px)";
$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 700px)";
$laptop-width: "screen and (min-width: 1080px)";
$desktop-width: "screen and (min-width: 1620px)";
